<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Perfil do Produto') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="container product-profile-container">
        <a href="{{ url_for('select_product') }}" class="back-button">
            <i class="fas fa-arrow-left"></i> {{ _('Voltar') }}
        </a>
        
        <div class="profile-header">
            <div class="profile-image">
                <i class="fas fa-coffee fa-5x"></i>
            </div>
            <div class="profile-info">
                <h2>{{ _('Nome do produto:') }} {{ profile.name }}</h2>
            </div>
            <!-- <div class="favorite-icon">
                <i class="fa-heart fa-2x {{ 'fas favorite' if is_favorite else 'far not-favorite' }}" data-machine-id="{{ profile.machine_id }}"></i>
            </div> -->
            
            
        </div>
        
        <div class="profile-section">
            <h3>{{ _('Informações Gerais') }}</h3>
            <div class="info-grid">
                <div class="info-item">
                    <i class="fas fa-dollar-sign"></i>
                    <div>
                        <strong>{{ _('Preço') }}:</strong>
                        <span>R$ {{ profile.price }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="machines-section">
            <h3>{{ _('Máquinas Disponíveis') }}</h3>
            {% if available_machines %}
            <div class="products-grid">
                {% for machine in available_machines %}
                <div class="product-card">
                    <i class="fas fa-store fa-2x"></i>
                    <p>{{ machine.machine_id }}</p>
                    <span>{{ _('Endereço:') }} {{ machine.location }}</span><br>
                    <span>{{ _('Quantidade:') }} {{ machine.quantity }}</span>
                    <button onclick="selectMachine('{{ machine.machine_id }}')">
                        {{ _('Detalhes') }}
                    </button>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="no-machines-message">{{ _('Nenhuma máquina disponível no momento.') }}</p>
            {% endif %}
        </div>
        
        <div class="reviews-section">
            <h3>{{ _('Avaliações') }}</h3>
            <div class="reviews-summary">
                <div class="average-rating">
                    <span>{{ reviews_info.mean_rating }}</span>
                    <div class="stars">
                        {% for i in range(1, 6) %}
                            {% if i <= reviews_info.mean_rating %}
                                <i class="fas fa-star"></i>
                            {% elif i - reviews_info.mean_rating < 1 %}
                                <i class="fas fa-star-half-stroke"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="ratings-count">
                    <p>{{ _('Total de Avaliações') }}: {{ reviews_info.count_reviews }}</p>
                    <p>{{ _('Avaliações com Comentários') }}: {{ reviews_info.num_filtered_reviews }}</p>
                </div>
            </div>
            
            {% if reviews_info.reviews %}
            <div class="detailed-reviews">
                {% for review in reviews_info.reviews %}
                <div class="review-card">
                    <div class="review-header">
                        <i class="fas fa-user-circle fa-2x"></i>
                        <div class="review-user-info">
                            <strong>{{ review.user_name }}</strong>
                            <span>{{ review.created_at }}</span>
                        </div>
                        <div class="review-rating">
                            <span class="user-rating">{{ review.rating }}</span>
                            {% for i in range(1, 6) %}
                                {% if i <= review.rating %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <p>{{ review.comment }}</p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>{{ _('Nenhum comentário disponível.') }}</p>
            {% endif %}
        </div>
    </div>

    <script>
        function selectMachine(machineId) {
            window.location.href = `/machine_profile/${machineId}`;
        }
    </script>
</body>
</html>
