<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Envio de Reclamações</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Enviar Reclamação</h2>
        
        <form id="complaintForm" action="#" method="post">
            <label for="destination">Reclamação sobre: <span class="required">*</span></label>
            <div class="destinationType">
                <label><input type="radio" name="destination" value="app" required> Aplicativo</label>
                <label><input type="radio" name="destination" value="machine"> Máquina</label>
            </div>

            <div id="machineInfo" style="display: none;">
                <label for="machineNumber">Selecione o Número da Máquina: <span class="required">*</span></label>
                <select id="machineNumber" name="machineNumber">
                    <option value="" disabled selected>Selecione a máquina</option>
                </select>
            </div>

            <label for="complaintType">Tipo de Reclamação: <span class="required">*</span></label>
            <select id="complaintType" name="complaintType" required>
                <option value="" disabled selected>Selecione uma opção</option>
            </select>

            <label for="message">Mensagem: <span class="required">*</span></label>
            <textarea id="message" name="message" placeholder="Descreva detalhadamente o problema..." required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>