<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Selecionar Máquina') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_machine.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous"></head>
<body>
    <a href="{{ url_for('settings') }}" class="settings-button" title="{{ _('Configurações') }}">
        <i class="fas fa-cog"></i>
    </a>
    <div class="container select-machine-container">
        <h2>{{ _('Selecione uma Máquina') }}</h2>
        <div class="machines-grid">
            {% for machine_id in machine_ids %}
            <div class="machine-card">
                <i class="fas fa-store fa-3x"></i>
                <p>{{ _('Máquina ID') }}: {{ machine_id }}</p>
                <button onclick="selectMachine('{{ machine_id }}')">
                    {{ _('Selecionar') }}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script>
        function selectMachine(machineId) {
            window.location.href = `/machine_profile/${machineId}`;
        }
    </script>
</body>
</html>
