<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Configurações') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report_styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('home') }}" class="back-link"> ⬅ </a>
        <h2>{{ _('Configurações') }}</h2>
        <form action="{{ url_for('settings') }}" method="post">
            <label for="language">{{ _('Selecione o Idioma') }}:</label>
            <select id="language" name="language">
                <option value="pt" {% if get_locale() == 'pt' %}selected{% endif %}>{{ _('Português') }}</option>
                <option value="en" {% if get_locale() == 'en' %}selected{% endif %}>{{ _('Inglês') }}</option>
                <option value="es" {% if get_locale() == 'es' %}selected{% endif %}>{{ _('Espanhol') }}</option>
            </select>            
            <button type="submit">{{ _('Salvar') }}</button>
        </form>
    </div>
</body>
</html>
